@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown: #221b12;
  --brown-lighten: #392f22;
  --light-brown: #4f4231;
  --orange: #e48e2b;
  --orange-lighten: #e4a554;
  --light-orange: #e4bc7c;
  --blue: #48c9c5;
  --blue-lighten: #8adadb;
  --light-blue: #ccebf1;
  --liner-gradient-lighten: linear-gradient(
    45deg,
    var(--blue-lighten),
    var(--orange-lighten)
  );
  --liner-gradient: linear-gradient(45deg, var(--blue), var(--orange));
  --red: #ee5555;
  --white: #ffffff;
  --background: var(--liner-gradient-lighten);
  --foreground: var(--brown-lighten);
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 100vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
