.mic-button-style {
  aspect-ratio: 1;
  width: 100%;
  max-width: 60px;
  background: var(--brown-lighten);
  border-radius: 50%;
}

.mic-icon {
  color: var(--white);
  width: 80%;
  height: 80%;
}
