.title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 50px 30px;
}

.window-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  gap: 15px;
  border: 2px solid var(--brown-lighten);
  border-radius: 8px;
  padding: 50px 30px;
  background: rgba(256, 256, 256, 0.6);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 0 20px;
  gap: 15px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 12px;
    background: var(--liner-gradient-lighten);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--brown-lighten);
    border-radius: 9999px;
  }
}

.recorder-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
